.box-1 {

  font-size: 16px;
  background-color: #333;
  color: #fff;
  
  border: 5px red solid;
  

}

.container {
  width: 80%;
  margin: auto;
}

.nice-looking {
  padding: 20px;
}

.footer-right {
  float: right;
}

.navigation li {
  display: inline;
}

@media (min-width: 320px) {

}

@media (min-width: 1024px) {
  .nice-looking {
    background-color: rgb(95, 106, 109)
  }
  .box-1 {
    color:salmon;
    font-size: small;
    line-height: 1.6;
  
  }
}