.header {
  background-color: darksalmon;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: rgb(255, 255, 255);
}

.nav {
  background-color: rgb(151, 151, 151);
  padding: 5px;
  text-align:left
  font-size: 20px;
  color: black;
}

.column {
  float: left;
  width: 32%;
  padding: 10px;
 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  text-align: center;
  padding: 3px;
  background-color: DarkSalmon;
  color: white;
}

@media (min-width: 320px) {
  body {
    font-size:x-large;
  }
}

@media (min-width: 1024px) {

  body {
    font-size:medium
  }
}